@import 'src/styles/colors';

.miniCalendar {
  align-items: center;
  background-color: $independence-2;
  color: $independence-5;
  display: flex;
  font-size: 5vh;
  height: 30vh;
  justify-content: center;
}
