/* colour scheme 1 https://coolors.co/22223b-4a4e69-9a8c98-c9ada7-f2e9e4 */
$independence-1: #22223b;
$independence-2: #4a4e69;
$independence-3: #9a8c98;
$independence-4: #c9ada7;
$independence-5: #f2e9e4;
