@import 'src/styles/colors';

.home {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.createBtn {
  background-color: $independence-1;
  border: none;
  margin: 4px;
  padding: 6px 18px;
}
