@import 'src/styles/colors';
@import 'src/styles/variables';

.mainCalendar {
  height: 100%;
}

.month {
  display: flex;
  flex-direction: column;
  height: 100%;

  :not(:first-child) {
    border-top: $border-width solid $independence-4;
  }
}

.eventBlock {
  padding: 2px;
}
