.categoriesMenu {
  padding: 4px;
  text-align: left;
  display: flex;
  flex-direction: column;
}

.checkBox label {
  color: black;
  margin: 0 4px;
}

.menuEntry {
  flex-direction: row;
  display: flex;
  justify-content: space-between;

  svg {
    margin-right: 4px;
    cursor: pointer;
  }
}
